
USE  ShopDotnet
GO

CREATE TABLE Baiviet(
       idbv nt Identity(1,1) Primary Key,
       tenbv nvarchar(100),
       ngay nvarchar(100),
       tieude nvarchar(100),
       noidung text,
       anhchinh text,
       anhphu text
)
CREATE TABLE Feedback(
         idfb int Identity(1,1) Primary Key,
         idkh int,
	 idsp int,
         message nvarchar(100),
         rating int,
         date nvarchar(100),
CONSTRAINT fk_fbuser
FOREIGN KEY (idkh) 
REFERENCES Taikhoan(idkh),
CONSTRAINT fk_fbsp
FOREIGN KEY (idsp) 
REFERENCES Sanpham(idsp)		
)
insert into Feedback values( 1,1,'good',5, '4/9/2020')
insert into Feedback values( 2,4,'bad',1, '5/9/2020')
insert into Feedback values( 3,5,'good',5, '6/9/2020')
CREATE TABLE Log(
         idlog int Identity(1,1) Primary Key,
         idkh int,
         message nvarchar(100),
         ip text,
         date nvarchar(20)
CONSTRAINT fk_loguser
FOREIGN KEY (idkh) 
REFERENCES Taikhoan(idkh);
)
 insert into Log values( 1,'good','173.1111.1', '4/9/2020')
 insert into Log values( 2,'good','173.1112.2', '4/9/2020')
 insert into Log values( 3,'good','173.1113.3', '4/9/2020')
CREATE TABLE Sanpham(
	idsp int Identity(1,1) Primary Key,
	tensp nvarchar(100) ,
	idth int ,
	gia money,
	hinhanh text ,
	sl int ,
	mota nvarchar(2000) ,
	mausac nvarchar(100) ,
	manhinh nvarchar(100) ,
	hedieuhanh nvarchar(100),
	camera nvarchar(100) ,
	cauhinh nvarchar(100) ,
	pin nvarchar(100)
CONSTRAINT fk_spth
FOREIGN KEY (idth) 
REFERENCES Thuonghieu(idth);	
)
CREATE TABLE Thuonghieu(
	idth int Identity(1,1) Primary Key ,
	tenth nvarchar(100) ,
	logo text ,
	mota nvarchar(2000),
)
GO
CREATE TABLE Taikhoan(
	idkh int Identity(1,1)  Primary Key,
	hoten nvarchar(500) ,
	ngaysinh nvarchar(100),
	gioitinh nvarchar(5) ,
	cmnd nvarchar(9) ,
	diachi nvarchar(200) ,
	sdt nvarchar(11) ,
	email nvarchar(200) ,
	username nvarchar(30) ,
	pass nvarchar(20) ,
	roles nvarchar(20) ,
)
GO
CREATE TABLE Hoadon(
	idhd int Identity(1,1)  Primary Key,
	idkh int ,
	diachi nvarchar(100),
        ngay nvarchar(100),	
	tonggia money,
	tinhtrang nvarchar(10)
CONSTRAINT fk_hd_idkh
FOREIGN KEY (idkh) 
REFERENCES Taikhoan(idkh);
)

GO
CREATE TABLE Chitiethoadon(
	idcthd int Identity(1,1) Primary Key,
	idhd int,
	tensp nvarchar(100),
	hinhanh nvarchar(max),
	gia money,
	quantity int
CONSTRAINT fk_hd_idhd
FOREIGN KEY (idhd)
REFERENCES Hoadon (idhd);
)

GO
insert into Hoadon values( 1,'hcm','09/08/2020',73480000, N'Vận chuyển')
insert into Hoadon values( 2,'hcm','09/08/2020', 26990000,N'Hủy')
insert into Hoadon values( 3,'hcm','09/08/2020',26990000, N'Đóng gói')

---Values for Chitiethoadon
insert into Chitiethoadon values(1, 1, 1)
insert into Chitiethoadon values(1, 3, 1)
insert into Chitiethoadon values(1, 5, 1)

delete from  Hoadon

UPDATE Chitiethoadon
SET 
tensp = 'Samsung Galaxy Note 10+', 
hinhanh = 'https://didongviet.vn/pub/media/catalog/product//s/a/samsung-galaxy-note-10-plus-my-didongviet.jpg',
gia = 26990000
WHERE idcthd = 1
UPDATE Chitiethoadon
SET 
tensp = 'Samsung Galaxy Z Flip', 
hinhanh = 'https://cdn.tgdd.vn/Products/Images/42/206176/samsung-galaxy-note-10-plus-031220-101226-400x460.png',
gia = 36000000
WHERE idcthd = 2
UPDATE Chitiethoadon
SET 
tensp = 'Samsung Galaxy A71', 
hinhanh = 'https://images.fpt.shop/unsafe/fit-in/465x465/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2020/7/3/637293809325493559_ss-a71-xanh2-1.png',
gia = 10490000
WHERE idcthd = 3
---------------------------------
insert into Sanpham values('Samsung Galaxy Note 10+',1, 26990000, 'https://didongviet.vn/pub/media/catalog/product//s/a/samsung-galaxy-note-10-plus-my-didongviet.jpg', 20, N'Bộ sản phẩm gồm: Hộp, Sạc, Tai nghe, Sách hướng dẫn, Bút cảm ứng, Cáp, Cây lấy sim, Ốp lưng',N'Bạc', N'Dynamic AMOLED, 6.8", Quad HD+ (2K+)', N'Android 9.0 (Pie)',N'Camera sau: Chính 12 MP & Phụ 12 MP, 16 MP, TOF 3D; Camera trước: 10 MP', N'CPU: Exynos 9825 8 nhân, RAM/ROM: 12/256 GB',N'4300 mAh, có sạc nhanh')
insert into Sanpham values('Samsung Galaxy Note 10+',1, 26990000, 'https://cdn.tgdd.vn/Products/Images/42/206176/samsung-galaxy-note-10-plus-031220-101226-400x460.png', 20, N'Bộ sản phẩm gồm: Hộp, Sạc, Tai nghe, Sách hướng dẫn, Bút cảm ứng, Cáp, Cây lấy sim, Ốp lưng',N'Đen', N'Dynamic AMOLED, 6.8", Quad HD+ (2K+)', N'Android 9.0 (Pie)',N'Camera sau: Chính 12 MP & Phụ 12 MP, 16 MP, TOF 3D; Camera trước: 10 MP', N'CPU: Exynos 9825 8 nhân, RAM/ROM: 12/256 GB',N'4300 mAh, có sạc nhanh')
insert into Sanpham values('Samsung Galaxy Z Flip',1, 36000000, 'https://cdn.tgdd.vn/Products/Images/42/213022/samsung-galaxy-z-flip-chitiet-2-788x544.png', 20, N'Bộ sản phẩm gồm: Hộp, Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim, Ốp lưng, Adapter chuyển USB',N'Đen', N'Chính: Dynamic AMOLED, phụ: Super AMOLED, 6.7", Quad HD (2K)', N'Android 10',N'Camera Sau: Chính 12 MP & Phụ 12 MP; Camera trước: 10 MP', N'CPU: Snapdragon 855+ 8 nhân, RAM/ROM: 8/256 GB',N'3300 mAh, có sạc nhanh')
---Values for Thuonghieu
insert into Thuonghieu values('Samsung', 'https://www.freepnglogos.com/uploads/classic-samsung-logo-png-0.png', '')
insert into Thuonghieu values('Iphone', 'https://mpng.subpng.com/20190715/gpy/kisspng-apple-image-iphone-4-logo-photograph-remdt-by-5d2c8151c5a0e8.2961583015631977778095.jpg','')
insert into Thuonghieu values('Oppo', 'https://upload.wikimedia.org/wikipedia/commons/1/13/OPPO_Logo_wiki.png','')

set dateformat dmy
---Values for Taikhoan
insert into Taikhoan values(N'Hà Ngọc Kiên', '14/02/1999', N'Nam', '272690215', 'DH Nong Lam', '0777777777', 'kien123@gmail.com', 'Kienadmin','123',1)
insert into Taikhoan values(N'Hà Ngọc Kiên', '14/02/1999', N'Nam', '272690212', 'DH Nong Lam', '0777777777', 'thien123@gmail.com', 'Thienuser','123',0)
insert into Taikhoan values(N'Huỳnh Thị Tuyết Nhi', '21/09/1999', N'Nữ', '272690214', 'Khu B DHQG', '0777777777', 'nhi123@gmail.com', 'Nhiuser','123',0)





